<div
  class="bg-base-300 p-4 flex flex-col gap-2 rounded-md w-[50vh]"
  [class.expanded]="isExpanded"
  (mousedown)="onDragStart($event)"
>
  <div class="flex justify-between items-center">
    <label for="labelInput">Edit Node Name:</label>
  </div>
  <input
    class="input input-primary input-bordered"
    type="text"
    id="labelInput"
    [(ngModel)]="labelText"
    placeholder="Enter new label"
  />
  <label for="descriptionInput">Edit Node Description:</label>
  <button class="btn btn-sm" (click)="toggleDescriptionVisibility()">
    {{ isDescriptionVisible ? "Hide Description" : "Edit Description" }}
  </button>
  <textarea
    *ngIf="isDescriptionVisible"
    class="textarea textarea-primary textarea-bordered"
    id="descriptionInput"
    [(ngModel)]="descriptionText"
    placeholder="Enter description (Markdown supported)"
    style="height: 200px"
  ></textarea>
  <markdown *ngIf="!isDescriptionVisible" [data]="descriptionText"></markdown>

  <div class="flex-grow"></div>
  <div class="flex flex-col justify-between">
    <button class="btn btn-success btn-block" (click)="saveLabel()">
      Save
    </button>
    <button class="error btn-error" (click)="deleteNode(id)">
      Delete Node
    </button>
  </div>
</div>
