<p class="text-xl mb-2">Crear un enlace</p>
<form [formGroup]="linksForm" (ngSubmit)="onSubmit()">
  <div class="flex flex-col items-end gap-2">
    <select
      class="select select-bordered w-full max-w-xs"
      formControlName="source"
    >
      <option value="" disabled selected>Selecciona un nodo</option>
      <option *ngFor="let node of nodes" [value]="node.id">
        {{ node.name }}
      </option>
    </select>
    <select
      class="select select-bordered w-full max-w-xs"
      formControlName="target"
    >
      <option value="" disabled selected>Selecciona un nodo</option>
      <option *ngFor="let node of nodes" [value]="node.id">
        {{ node.name }}
      </option>
    </select>
    <button type="submit" class="btn btn-block btn-primary">
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>
</form>
