<p class="text-xl mb-2">Agregar un enlace</p>
<form [formGroup]="linksForm" (ngSubmit)="onSubmit()">
  <div class="flex flex-row items-end gap-2">
    <select
      id="source"
      class="input input-bordered w-full max-w-xs"
      formControlName="source"
      required
    >
      <option *ngFor="let node of nodes" [value]="node.id">
        {{ node.name }}
      </option>
    </select>
    <select
      id="target"
      class="input input-bordered w-full max-w-xs"
      formControlName="target"
      required
    >
      <option *ngFor="let node of nodes" [value]="node.id">
        {{ node.name }}
      </option>
    </select>
    <button type="submit" class="btn btn-circle btn-primary">
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>
</form>
