<div
  class="container mx-auto h-screen flex gap-12 flex-col lg:flex-row p-2 lg:p-0"
>
  <div class="flex flex-col lg:w-1/2">
    <h1 class="text-3xl">Instrucciones para utilizar el grafo</h1>
    <video controls autoplay loop>
      <source src="../../assets/instructions.mkv" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="flex flex-col lg:w-1/2 gap-2">
    <p class="text-xl">
      Para utilizar el grafo, siga las siguientes instrucciones:
    </p>
    <ul class="list-disc">
      <li>Haga doble clic en un nodo para abrir el modal.</li>
      <li>En el modal, puede cambiar el nombre del nodo.</li>
      <li>Puede agregar una descripción al nodo.</li>
      <li>Guarde o borre el nodo según sea necesario.</li>
      <li>Para unir nodos, simplemente acérquelos.</li>
    </ul>
    <a href="./" class="btn btn-block btn-accent">
      <i class="fa-solid fa-arrow-left"></i> Volver atras
    </a>
  </div>
</div>
