.svg-container {
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: red;
}

.svg-container > *:first-child {
  flex: 1;
}

.grafo-container {
  width: 100%;
  height: 86vh; // Ajusta según sea necesario
  min-height: 400px; // Asegura un tamaño mínimo adecuado
  display: flex; // Asegura que el contenedor sea visible
}
